# Banco de Dados
DB_USER=root
DB_PASSWORD=yourpassword
DB_HOST=localhost
DB_NAME=your_database
DB_DIALECT=mysql
DB_PORT=3306

# Redis
REDIS_HOST=redishost
REDIS_PORT=6379
REDIS_PASSWORD=yoursecret

# Backend
JWT_SECRET= yousecret
PORT= 3000

# Docker User
UID=1000
GID=1000